<template>
  <div class="detailOrder-content">
    <div
      class="
        detailOrder-content__top
        d-flex
        justify-content-between
        align-items-center
      "
    >
      <div class="left d-flex align-items-center">
        <h3>Đơn hàng:</h3>
        <button class="pending">{{ order.id }}</button>
      </div>
    </div>
    <div class="detailOrder-content__bot">
      <div class="row">
        <div class="col-lg-8">
          <div class="bot-table table-responsive-xl">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Sản phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th class="text-right" scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="cart in order.cart.cart_items" :key="cart.id">
                  <th scope="row">1</th>
                  <td>
                    <h4 class="sort-desc">
                      {{ cart.product.name }}
                    </h4>
                  </td>
                  <td>{{ cart.quantity }}</td>
                  <td class="text-right">{{ cart.total }} đ</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="right-info">
            <h3 class="justify-content-between">Thông tin đơn hàng:</h3>
            <ul class="info-money ml-0">
              <li>
                <div class="row">
                  <div class="col-6">
                    <h4>Trạng thái:</h4>
                  </div>
                  <div class="col-6 text-right">
                    <span class="text-success">Đã thanh toán</span>
                  </div>
                </div>
              </li>
              <li class="into-money">
                <div class="row">
                  <div class="col-6">
                    <h4>Thành tiền</h4>
                  </div>
                  <div class="col-6 text-right">
                    <span>{{ order.total }} đ</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  setup() {},
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
};
</script>