<template>
  <main class="main__book-detail">
    <section class="detail">
      <div class="container">
        <div class="breadcrumb_detail">
          <p>Trang chủ<span>/ trang chi tiết sản phẩm</span></p>
        </div>
      </div>
      <DetailGroup :book="book" />
    </section>
  </main>
</template>

<script>
import DetailGroup from "./components/book_detail/DetailGroup.vue";
import { RequestFactory } from "@Request/RequestFactory";
const ProductRequest = RequestFactory.get("product");
export default {
  components: {
    DetailGroup,
  },
  setup() {},
  data() {
    return {
      idBook: "",
      book: {},
    };
  },
  mounted() {
    this.idBook = this.$route.params.id;
    this.getProduct(this.idBook);
  },
  methods: {
    async getProduct(idBook) {
      try {
        const {
          data: { response },
        } = await ProductRequest.getProductDetail(idBook);
        this.book = response;
        
      } catch (error) {}
    },
  },
};
</script>