*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

li,
ol,
ul {
    list-style: none;
    margin: 0
}

a,
a:hover {
    text-decoration: none
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

p {
    margin-bottom: 0
}

body {
    font-family: 'Open Sans';
    overflow-x: hidden
}

html {
    font-size: 10px
}

.form-input {
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #b1b1b1;
    border: none;
    border-radius: 0;
    margin: 2rem 0;
    border-bottom: 1px solid #b1b1b1;
    font-size: 1.4rem
}

.form-input:first-child {
    margin-bottom: .5rem
}

.form-input:focus,
.form-input:hover,
.form-input:visited {
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #b1b1b1
}

.text-account {
    font-size: 1.4rem
}

.text-account a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #306b85;
    text-decoration: underline
}

.main {
    position: relative;
    min-height: 100vh
}

.form-password {
    position: relative
}

.form-password .eyes {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%)
}

.btn-login {
    width: 100%;
    padding: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    background-color: #306b85;
    color: #fff;
    line-height: 2rem;
    font-size: 1.4rem
}

.btn-login:hover {
    color: #fff
}

.text-or {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.text-or span {
    margin: 0 2.5rem;
    font-size: 1.2rem
}

.text-or .line {
    width: 50%;
    height: 2px;
    background-color: #b1b1b1
}

.login-other .icon-desktop,
.register-other .icon-desktop {
    display: block
}

.login-other .icon,
.register-other .icon {
    display: none
}

.btn-close {
    display: none;
    position: absolute;
    top: 7%;
    right: 5%
}

.btn-back {
    display: none;
    position: absolute;
    top: 7%;
    left: 5%
}

@media only screen and (max-width:1140px) {

    .btn-back,
    .btn-close {
        display: block
    }

    .login-other,
    .register-other {
        display: flex;
        justify-content: center
    }

    .login-other .icon-desktop,
    .register-other .icon-desktop {
        display: none
    }

    .login-other .icon,
    .register-other .icon {
        display: block;
        margin: 0 3rem
    }
}

@media (min-width:320px) and (max-width:480px) {
    html {
        font-size: 7px
    }

    .btn-login {
        font-size: 2rem;
        padding: 1rem 0;
        font-weight: 600
    }

    .btn-login {
        padding: 2rem 0
    }
}

@media only screen and (max-width:320px) {
    html {
        font-size: 7px
    }

    .btn-login {
        padding: 2rem 0
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 7px
    }

    .btn-login {
        padding: 2rem 0
    }
}

h3.headline {
    font-weight: 700;
    font-size: 4rem
}

.box-left {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    background-color: #1a3a48
}

.box-left .car {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.box-left .car img {
    width: 100%
}

.box-left .car .carousel-indicators-custom {
    bottom: -50px;
    left: 0;
    right: auto;
    margin-left: 0;
    text-align: left
}

.box-left .car .carousel-indicators-custom li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff
}

.box-left .car .carousel-indicators-custom li .active {
    background-color: #306b85
}

.box-right {
    position: relative
}

@media only screen and (max-width:1140px) {
    .box-left {
        display: none
    }

    .box-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: auto;
        max-width: 100%
    }
}

@media only screen and (max-width:768px) {
    .box-right {
        padding-top: 13%
    }
}

@media (max-width:320px) {
    .box-right {
        padding-top: 17%
    }
}

.form-login {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.form-login .text-description {
    display: none
}

.form-login .headline {
    margin-bottom: 5rem
}

.form-login .text-forgot a {
    font-size: 1.4rem;
    font-weight: 600;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    color: #499abd
}

.form-login .form-check-input {
    margin-right: .5rem
}

.form-login .text-account {
    margin-top: 1rem
}

.form-login .text-label {
    font-size: 1.4rem;
    margin-left: .5rem;
    font-weight: 400;
    color: #3b3b3b
}

.form-login .login-other a img {
    margin-bottom: 1.5rem
}

.form-login .form-password {
    margin-bottom: 0
}

@media only screen and (max-height:600px) {
    .form-login {
        margin-top: 10%
    }
}

@media only screen and (max-width:1140px) {
    .form-login {
        text-align: center
    }

    .form-login .headline {
        margin-bottom: 10rem
    }

    .form-login .form-password {
        margin-top: 5rem;
        margin-bottom: 2rem
    }

    .form-login .btn-login {
        margin-top: 7rem;
        margin-bottom: 3rem
    }

    .form-login .text-account {
        margin-bottom: 7rem
    }
}

@media (min-width:320px) and (max-width:480px) {
    .form-login {
        width: 90%;
        text-align: center
    }

    .form-login .headline {
        margin-bottom: 2rem
    }

    .form-login .text-description {
        display: block;
        margin-bottom: 15rem;
        font-size: 16px;
        font-weight: 400
    }

    .form-login .form-input {
        font-size: 1.8rem
    }

    .form-login .form-password {
        margin-top: 5rem;
        margin-bottom: 1rem
    }

    .form-login .text-label {
        margin-left: 1.5rem;
        font-size: 1.7rem
    }

    .form-login .text-account {
        display: block;
        text-align: left;
        font-size: 1.7rem;
        margin-bottom: 10rem
    }

    .form-login .text-account a {
        font-size: 2rem
    }

    .form-login .text-forgot a {
        font-size: 1.7rem;
        font-weight: 600;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        color: #499abd
    }
}

@media only screen and (max-width:320px) {
    .form-login {
        width: 90%;
        text-align: center
    }

    .form-login .text-description {
        display: block;
        margin-bottom: 10rem;
        font-size: 16px;
        font-weight: 400
    }

    .form-login .headline {
        margin-bottom: 1rem
    }

    .form-login .form-password {
        margin-top: 5rem;
        margin-bottom: 2rem
    }

    .form-login .text-label {
        margin-top: .4rem;
        margin-left: 1rem
    }

    .form-login .btn-login {
        margin-top: 7rem;
        margin-bottom: 3rem
    }

    .form-login .text-account {
        margin-bottom: 7rem
    }
}

.form-register {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.form-register .headline {
    margin-bottom: 2vh
}

.form-register form {
    margin-top: 1vh
}

.form-register .form-group {
    margin: .5vh 0
}

.form-register .form-input {
    font-size: 1.4rem
}

.form-register .text-register {
    font-size: 2.4rem;
    font-weight: 600
}

.form-register .text-description-register {
    font-size: 1.4rem;
    font-weight: 600;
    color: #3b3b3b
}

.form-register .eyes-register {
    right: 15px
}

.form-register .form-checkbox {
    margin-bottom: .5rem
}

.form-register .form-checkbox:first-child {
    margin-top: 1vh
}

.form-register .form-checkbox label {
    padding-bottom: .5rem;
    font-size: 1.2rem
}

.form-register .form-checkbox label a {
    color: #3b3b3b;
    font-weight: 600;
    text-decoration: underline
}

.form-register .text-or.register {
    justify-content: flex-start;
    align-items: flex-end;
    margin: 2vh 0
}

.form-register .text-or.register .line:first-child {
    display: none
}

.form-register .text-or.register span {
    margin: 0
}

.form-register .text-register-mobile {
    display: none
}

.form-register .register-other {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.form-register .register-other a {
    width: 50%
}

.form-register .register-other a img {
    width: 100%
}

.form-register .register-other a:first-child {
    margin-right: 2rem
}

.form-register .btn-login {
    margin: 1vh 0
}

@media only screen and (max-width:1140px) {
    .form-register {
        width: 80%;
        margin: 10% 0;
        text-align: center
    }

    .form-register .headline {
        margin-bottom: 5rem
    }

    .form-register form {
        margin-top: 2rem
    }

    .form-register .text-register {
        margin-bottom: 1rem
    }

    .form-register .register-other {
        justify-content: center
    }

    .form-register .register-other a {
        width: auto
    }

    .form-register .form-checkbox {
        text-align: left
    }

    .form-register .text-or.register {
        align-items: center;
        margin: 3rem 0
    }

    .form-register .text-or.register span {
        margin: 0 2.5rem;
        font-size: 1.2rem
    }

    .form-register .text-or.register .line:first-child {
        display: inline-block
    }

    .form-register .btn-login {
        margin: 2rem 0
    }
}

@media only screen and (max-width:767px) {

    .form-register .text-description-register,
    .form-register .text-register {
        display: none
    }

    .form-register .form-input {
        margin: .5rem 0;
        font-size: 1.7rem
    }

    .form-register .register-other {
        margin-bottom: 10rem
    }

    .form-register .text-register-mobile {
        display: block;
        font-size: 2.3rem;
        font-weight: 400
    }

    .form-register .form-checkbox label {
        font-size: 1.7rem
    }
}

@media (min-width:320px) and (max-width:480px) {
    .form-register .headline {
        margin-bottom: 1rem
    }
}

@media (max-width:320px) {
    .form-register {
        width: 100%;
        padding: 0 1rem;
        top: 53%
    }

    .form-register .headline {
        margin-bottom: 1rem
    }

    .form-register .btn-login {
        font-size: 1.7rem
    }

    .form-register .text-account {
        font-size: 1.7rem
    }
}

.form-reset .headline {
    margin-bottom: 1rem
}

.form-reset .text-description {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2rem
}

.form-reset .form-password {
    margin-top: 5rem
}

.form-reset .btn-login {
    margin-top: 5rem
}

.form-forgot-password .headline {
    margin-bottom: 1rem
}

.form-forgot-password .text-description {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2rem
}

.form-forgot-password .form-group {
    margin-top: 5rem
}

.form-forgot-password .text-forgot {
    font-size: 1.4rem;
    color: #306b85
}

@media only screen and (max-width:768px) {
    .form-forgot-password {
        font-size: 1.7rem
    }
}