<template>
  <li class="section-checkout__left-item" id="product1">
    <div class="left-item__img">
      <a href="#">
        <div class="lazy lazy-opacity bg-layout bg-book-cart">
          <img :src="cart.product.thumbnail" alt="" class="img-fluid" /></div
      ></a>
    </div>
    <div class="left-item__desc">
      <h4>
        <a href="">{{ cart.product.name }}</a>
      </h4>
      <div class="left-item__desc-price">
        <span
          ><b>{{ Number(cart.product.price).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) }}</b
          >/sp</span
        >
      </div>
      <ul class="left-item__desc-list">
        <li class="left-item__desc-item">
          <span class="color-33">Số lượng:</span><b>{{ cart.quantity }}</b>
        </li>
      </ul>
      <ul class="left-item__desc-list">
        <li class="left-item__desc-item">
          <span class="color-33">Thành tiền:</span><b>{{ Number(cart.total).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) }}đ</b>
        </li>
      </ul>
    </div>
  </li>
</template>
<script>
export default {
  setup() {},
  data() {
    return {};
  },

  props: {
    cart: {
      type: Object,
      required: true,
    },
  },
};
</script>