<template>
  <div class="box_item">
    <a href="">
      <div class="box-title">572</div>
      <div class="box-content">{{ category.name }}</div>
    </a>
  </div>
</template>
<script>
export default {
  setup() {},
  props: {
    category: {
      type: Object,
      required: true,
    },
  },
};
</script>