<template>
  <div class="wrapper">
    <header-layout />
    <router-view></router-view>
    <footer-layout />
  </div>
</template>

<script>
import HeaderLayout from "./views/components/Header.vue";
import FooterLayout from "./views/components/Footer.vue";
export default {
  components: {
    HeaderLayout,
    FooterLayout,
  },
};
</script>
